<nav class="navbar navbar-expand-sm" style="background-color:#f5f5 ;">
    <div class="container-fluid">
      <a class="navbar-brand" href="assets/img/Hero.png">BoilDown</a>
    </div>
  </nav>
  <br/>
  <br/>
  <div style="text-align:center">
    <h1 class="mb-16 text-center" style="font-family: cursive;">
      Welcome to BoilDown!
    </h1>
    <p class="body-2 mb-32 mb-lg-40 text-center" style="font-family: cursive;">As the name suggests, this app helps in summarizing long texts in under 300 chars</p>
  </div>
  <br />
<app-boil-down></app-boil-down>