<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Input</h3>
        <textarea class="form-control" rows="10" [(ngModel)]="inputText" placeholder="write or paste the text to be summarized" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: black;"></textarea>
      </div>
      <div class="col-md-6">
        <h3>Output</h3>
        <textarea class="form-control" rows="10" [(ngModel)]="outputText" style="font-family: cursive; color: darkgreen;"></textarea>
      </div>
      <div class="col-md-12">
        <br>
      </div>
      <div class="col-md-12" id="summarybtn">
        <button class="btn btn-primary" (click)="summarize()">Summarize</button>
      </div>
    </div>
  </div>
  
      